* {
  box-sizing: border-box; }

/* variables */
body {
  background: #ebe4e0;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; }

/* STRUCTURE */
.section {
  padding: 4em 0;
  background: #ebe4e0; }

.wrap {
  max-width: 1000px;
  margin: 0 auto; }

.page {
  margin-bottom: 200px; }

.right-content {
  width: 50%;
  float: right;
  position: relative;
  left: -40px; }

/* TYPOGRAPHY */
.center {
  text-align: center; }

.lead {
  color: #7a7977;
  font-size: 1.6em;
  line-height: 1.6em;
  margin-top: 0px; }

.choke {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto; }

.headline {
  color: white;
  text-transform: uppercase;
  font-size: 3em;
  margin-bottom: 20px; }
  .headline.red {
    color: #C35050; }

/* COMPONENTS */
.needle {
  margin: 0 auto;
  display: block; }

#slogan {
  margin: 0;
  margin-bottom: 0.5em;
  text-align: left;
  font-size: 3em; }

.button, .hollow-button {
  text-transform: uppercase;
  padding: 1.2em 0;
  display: block;
  text-align: center;
  width: 250px;
  text-decoration: none;
  background: #C35050;
  color: white;
  transition: background 0.2s; }
  .button:hover, .hollow-button:hover {
    background: #ae3c3c; }

.button.hollow-button {
  border: 4px solid white;
  background: rgba(0, 0, 0, 0.25); }
  .button.hollow-button:hover {
    background: rgba(0, 0, 0, 0.4); }

.serv-card {
  background: white;
  border-radius: 6px;
  padding: 20px;
  color: #7a7977;
  min-height: 450px;
  box-shadow: 0px 1px 3px 0px rgba(6, 16, 48, 0.2); }
  .serv-card img {
    border: 1px solid #b9b9b9; }
  .serv-card .profile-name {
    color: #C35050;
    border-bottom: 1px solid #ebe4e0;
    padding-bottom: 0.5em; }
  .serv-card .serv-list {
    padding-left: 0; }
    .serv-card .serv-list li {
      list-style-type: none; }

.cell-group {
  position: relative;
  font-size: 0; }
  .cell-group .cell {
    font-size: 16px;
    display: inline-block;
    width: 33%;
    padding: 10px;
    min-width: 250px; }
    .cell-group .cell img {
      width: 100%; }
  .cell-group.cell-group-half .cell {
    width: 50%; }
  .cell-group .cell-arrows {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    height: 66px;
    transform: translateY(-50%); }
    .cell-group .cell-arrows .arrow-right, .cell-group .cell-arrows .arrow-left {
      position: absolute;
      top: 0; }
    .cell-group .cell-arrows .arrow-left {
      left: -76px; }
    .cell-group .cell-arrows .arrow-right {
      right: -76px; }
  .cell-group.align-top .cell {
    vertical-align: top; }

.cell-controller {
  padding: 2.5em 0; }
  .cell-controller .cell-circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 4px solid #C35050;
    background: #C35050;
    border-radius: 50%;
    margin: 0 5px; }
    .cell-controller .cell-circle.active {
      background: transparent; }

.form {
  color: #7a7977; }
  .form textarea, .form input[type="text"] {
    font-size: 1.1em;
    width: 100%;
    background: #d8d8d8;
    outline: 0;
    border: 1px solid #7a7977;
    padding: 8px 10px; }
  .form label {
    display: block;
    margin-bottom: 0.3em; }
  .form .row {
    margin-bottom: 1em; }

/* SPECIFIC SECTIONS */
.vid-block {
  position: relative; }
  .vid-block .abs {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center; }

.section.what-we-do {
  background: url('/images/what-we-do.png');
  background-size: cover; }

.vid-img {
  display: block;
  width: 100%; }

.testimonial-slide {
  color: white;
  text-shadow: 1px 2px rgba(6, 16, 48, 0.2); }
  .testimonial-slide .quote-content {
    font-size: 2.7em;
    margin-bottom: 0.4em; }
  .testimonial-slide .quote-author {
    margin-top: 0;
    font-size: 1.3em; }

.contact-us .form-cell {
  padding: 0 5% 0 10%; }
.contact-us .illustration-cell {
  padding: 40px 10% 0 5%; }

/* Fancy Fixed Footer */
.footer {
  background: #333;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 200px; }
  .footer .wrap {
    padding-top: 70px; }
